<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <!-- For development, pass document through inliner -->
    <link rel="stylesheet" href="css/simple.css">

    <style type="text/css">
    * {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: -apple-system, 'Roboto','Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.65; }

img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

body,
.body-wrap {
  width: 100% !important;
  font-size:14px;
  height: 100%;
  background: #efefef;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  padding:0;
  margin:0;
}

a {
  color: #429bca;
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.button {
  display: inline-block;
  color: white;
  background: #429bca;
  border: solid #429bca;
  border-width: 10px 20px 8px;
  font-weight: bold;
  border-radius: 4px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  line-height: 1.25; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

p, ul, ol {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px; }

.container {
  display: block !important;
  clear: both !important;
  margin: 0 auto !important;
  max-width: 580px !important; }
  .container table {
    width: 100% !important;
    border-collapse: collapse; }
  .container .masthead a {
    color:#FFF;
  }
  .container .masthead {
    padding: 40px 0 30px;
    background: #429bca;
    color: white; }
    .container .masthead p {
      color:#FFF;
    }
    .container .masthead h1 {
      margin: 0 auto !important;
      max-width: 90%;
      text-transform: uppercase; }
  .container .content {
    background: white;
    padding: 30px 35px; }
    .container .content.footer {
      background: none; }
      .container .content.footer p {
        margin-bottom: 0;
        color: #888;
        text-align: center;
        font-size: 14px; }
      .container .content.footer a {
        color: #888;
        text-decoration: none;
        font-weight: bold; }
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                  <td align="center" class="masthead" style="background-color:#bf252f; color:#FFF">

                      <h1>$<%= (thisWeekSpend - goal).toFixed(2) %> over limit</h1>
                      <p class="text-faded-inverse-70 text-sm" style="color:#FFF;">From: <strong><%= weekStart %></strong> <br /> To: <strong><%= weekEnd %></strong></p>

                  </td>
                </tr>
                <tr>
                    <td class="content">

                        <p>Hey Big Spender,</p>

                        <p>
                          You've passed your weekly spend limit by <strong style="color:red">$<%= (thisWeekSpend - goal).toFixed(2) %></strong>.
                        </p>

                        <p>Total spend this week: <strong>$<%= thisWeekSpend.toFixed(2) %></strong></p>

                        <p>
                          Sincerely,<br />
                          Nomie's Big Spender Experiment
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>Sent by <a href="#">Big Spender Nomie Experiment</a></p>
                        <p>Leave the experiment in <a href="nomie://">Nomie</a> to stop these emails</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
