<!--
  Nomie Experiment HTML Formating Notes

  This HTML will be parsed by a markdown editor. Meaning you can use either HTML or Markdown which is Good.
  It also means that any inline styles, calles to javascript or external CSS files will be promptly removed.

  This means you're limited to the CSS classes that are available in Nomie.
  While this document doesnt cover much, it will give you a starting point - until I have
  better documentation setup for all the available class names.

-->
<% if(overlimit && goal) { %>
<div class="bg-white hairline-all"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8DwBwAFAgH9XSO6wwAAAABJRU5ErkJggg==" width="100%" height="10" /></div>
<% } else if(goal) { %><% if(percentTowardGoal>0) { %><div class="bg-white hairline-all"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPkWGr0BwADeQHdTs1z2gAAAABJRU5ErkJggg==" width="<%= percentTowardGoal %>%" height="10" /></div><% } %><% } %>
<div class="">
  <div class="nui-list">
    <div class="nui-item">
      <div class="nui-item-content flex-grow">
        <label for=""><%= experiment.slots.spend.tracker.label %></label>
        <p class="text-xs">Weekly Budget</p>
      </div>
      <div class="nui-item-addon truncate">
        $<%= parseFloat(goal).toFixed(2) %>
      </div>
    </div>
      <div class="nui-item-divider"></div>
    <% if(overlimit) { %>
      <div class="nui-item  nui-item-lg">
          <div class="nui-item-content">
            <label for="" class="text-assertive text-left">Over Budget By</label>
          </div>
          <div class="nui-item-addon">
            <span class="text-red text-right text-lg">$<%= (thisWeekSpend - goal).toFixed(2) %></span>
          </div>
      </div>
    <% } else { %>
      <div class="nui-item">
          <div class="nui-item-content">
            <label for="" class="text-green text-left">Budget Remaining</label>
          </div>
          <div class="nui-item-addon">
            <span class="text-green text-lg">$<%= (goal - thisWeekSpend).toFixed(2) %></span>
          </div>
      </div>
    <% } %>


    <div class="nui-item nui-item-lg">
      <div class="nui-item-content">
        <label for="">Today</label>
      </div>
      <div class="nui-item-addon">
          <span class="text-lg"> $<%= parseFloat(thisWeekTally[thisDay]).toFixed(2) %></span>
      </div>
    </div>

    <div class="nui-item-divider"></div>
  
    <div class="nui-item">
      <div class="nui-item-content width-33">&nbsp;</div>
      <div class="nui-item-content width-33 text-sm text-right">
        Last Week
      </div>
      <div class="nui-item-content width-33 text-sm text-right">
        This Week
      </div>
    </div>

    <div class="nui-item">
      <div class="nui-item-content width-33 flex-shrink-off flex-grow-off">
        TOTALS
      </div>
      <div class="nui-item-content text-right width-33 text-bold flex-shrink-off flex-grow-off">
         $<%= lastWeekSpend.toFixed(2) %>
      </div>
      <div class="nui-item-content text-right width-33 text-bold flex-shrink-off flex-grow-off">
          $<%= thisWeekSpend.toFixed(2) %> 
      </div>
    </div>
    
    <% var days = ['sun','mon','tue','wed','thu','fri','sat']; for(var i in days) { %>
    <div class="nui-item <% if(thisDay==days[i]) { %> activated text-bold <% } %>">
      <div class="nui-item-content width-33 flex-shrink-off flex-grow-off" >
        <% if(thisDay==days[i]) { %><i class="ion-star text-primary"></i><% } %>
        <%= days[i].toUpperCase() %>
      </div>
      <div class="nui-item-content text-right width-33 flex-shrink-off flex-grow-off text-normal text-faded-90">
        <span class="">$</span><%=parseFloat(lastWeekTally[days[i].toLowerCase()]).toFixed(2) %>
      </div>
      <div class="nui-item-content text-right width-33 flex-shrink-off flex-grow-off <% if(thisDay==days[i]) { %>  <% } %>">
          <span class="">$</span><%=parseFloat(thisWeekTally[days[i].toLowerCase()]).toFixed(2) %>   
      </div>
    </div>
    <% } %>
     
    

    <div class="nui-item-divider"></div>
    <div class="nui-item">
      <div class="nui-item-content">
            <div class="text-solid text-sm text-center" ><%= weekStart %> to <%= weekEnd %></div>
      </div>
    </div>
    <div class="nui-item-divider"></div>
    

  </div>
</div>
