<!--
  Nomie Experiment HTML Formating Notes

  This HTML will be parsed by a markdown editor. Meaning you can use either HTML or Markdown which is Good.
  It also means that any inline styles, calles to javascript or external CSS files will be promptly removed.

  This means you're limited to the CSS classes that are available in Nomie.
  While this document doesnt cover much, it will give you a starting point - until I have
  better documentation setup for all the available class names.

-->
<div class="bar bar-green">
  <div class="title"><span class="text-thin">Big Spender <span class="text-faded">|</span></span>  <%= experiment.slots.spend.tracker.label %></div>
</div>
<br />
<br />
<% if(overlimit && goal) { %>
  <div class="text-red text-lg text-center text-white padding-lg padding-md-bottom">$<%= (thisWeekSpend - goal).toFixed(2) %> over limit
    <br /><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8DwBwAFAgH9XSO6wwAAAABJRU5ErkJggg==" width="14%" height="20" />
  </div>
<% } else if(goal) { %>
  <div class="text-green text-lg text-center text-white padding-lg">$<%= (goal - thisWeekSpend).toFixed(2) %> under limit
  </div>
  <% if(percentTowardGoal>0) { %><div class="padding-md-left padding-md-right"><div class=""><br /><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPkWGr0BwADeQHdTs1z2gAAAABJRU5ErkJggg==" width="<%= percentTowardGoal %>%" height="20" /></div></div><% } %>
<% } %>
<div class="">
  <div class="nui-list">

    <div class="nui-item nui-item-lg">
      <div class="nui-item-content">
        <label for="">Today</label>
      </div>
      <div class="nui-item-addon">
          <span class="text-lg">$<%= todaySpend %></span>
      </div>
    </div>

    <div class="nui-item-divider"></div>
  
    <div class="nui-item">
      <div class="nui-item-content width-33">&nbsp;</div>
      <div class="nui-item-content width-33 text-sm text-right">
        Last Week
      </div>
      <div class="nui-item-content width-33 text-sm text-right">
        This Week
      </div>
    </div>

    <div class="nui-item">
      <div class="nui-item-content width-33 flex-shrink-off flex-grow-off">
        TOTALS
      </div>
      <div class="nui-item-content text-right width-33 text-bold flex-shrink-off flex-grow-off">
         $<%= lastWeekSpend.toFixed(2) %>
      </div>
      <div class="nui-item-content text-right width-33 text-bold flex-shrink-off flex-grow-off">
          $<%= thisWeekSpend.toFixed(2) %> 
      </div>
    </div>
    
    <% var days = ['sun','mon','tue','wed','thu','fri','sat']; for(var i in days) { %>
    <div class="nui-item <% if(thisDay==days[i]) { %> activated text-bold <% } %>">
      <div class="nui-item-content width-33 flex-shrink-off flex-grow-off" >
        <%= days[i].toUpperCase() %>
      </div>
      <div class="nui-item-content text-right width-33 flex-shrink-off flex-grow-off text-normal text-faded-90">
        <span class="">$</span><%=parseFloat(lastWeekTally[days[i].toLowerCase()]).toFixed(2) %>
      </div>
      <div class="nui-item-content text-right width-33 flex-shrink-off flex-grow-off <% if(thisDay==days[i]) { %> text-primary <% } %>">
          <span class="">$</span><%=parseFloat(thisWeekTally[days[i].toLowerCase()]).toFixed(2) %>   
      </div>
    </div>
    <% } %>
     
    

    <% if(goal > 0) { %>
    <div class="nui-item-divider"></div>
    <div class="nui-item">
      <div class="nui-item-content text-center">
        <label for="">Weekly Spend Limit <strong>$<%= goal %></strong></label>
      </div>
    </div>
    <% } %>

    <div class="nui-item-divider"></div>
    <div class="nui-item">
      <div class="nui-item-content">
            <div class="text-solid text-sm text-center" ><%= weekStart %> to <%= weekEnd %></div>
      </div>
    </div>
    <div class="nui-item-divider"></div>
    

  </div>
</div>
